.sectionWrapper {
	padding: 80px 100px 0;

	.title {
		font-weight: 600;
		font-size: 36px;
		line-height: 150%;
		color: #2c59a3;
		margin: 32px 0 42px;

		span {
			font-size: 20px;
			color: rgba(7, 22, 55, 0.5);
			margin-left: 20px;
		}
	}

	.text {
		width: 100%;
		font-weight: 500;
		font-size: 22px;
		line-height: 170%;
		color: #071637;
	}

	.cards {
		padding-top: 40px;
		display: flex;
		gap: 20px;

		.card {
			padding: 24px;
			border-radius: 30px;
			width: 100%;
			height: 158px;
			box-shadow:
				0 2px 6px 2px rgba(0, 0, 0, 0.15),
				0 1px 2px 0 rgba(0, 0, 0, 0.3);
			display: flex;
			column-gap: 20px;

			svg {
				min-width: 54px;
			}

			p {
				font-weight: 500;
				font-size: 22px;
				line-height: 130%;
				color: #2c59a3;
			}

			&:hover {
				cursor: pointer;
				background: linear-gradient(180deg, #2c59a3 0%, #2276ff 100%);

				svg {
					path {
						stroke: #ffffff;
					}
				}

				p {
					color: #ffffff;
				}
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.sectionWrapper {
		padding: 32px 16px 0;

		.title {
			font-size: 20px;
			line-height: 24px;
			margin: 16px 0 18px;

			span {
				font-size: 18px;
				line-height: 20px;
				margin-left: 0;
				margin-top: 8px;
				display: block;
			}
		}

		.text {
			font-size: 18px;
			line-height: 20px;
		}

		.cards {
			padding-top: 16px;
			gap: 16px;
			flex-direction: column;

			.card {
				padding: 12px;
				border-radius: 20px;
				width: 100%;
				height: auto;
				column-gap: 12px;

				svg {
					min-width: 36px;
				}

				p {
					font-size: 18px;
					line-height: 20px;
				}
			}
		}
	}
}
