.navbar {
  width: 100%;
  max-width: 1920px;
  padding: 18px 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;

  .navbarLeft {
    border-radius: 50px;
    width: fit-content;
    height: 68px;
    background: rgba(255, 255, 255, 0.3);
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 16px;
    overflow: hidden;
    user-select: none;
    cursor: pointer;

    ul {
      display: flex;
      align-items: center;
      column-gap: 16px;

      li {
        display: flex;
        align-items: center;
        border-radius: 30px;
        padding: 10px 32px;
        width: fit-content;

        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: #2c59a3;
        list-style: none;
        background: #ffffff;
      }
    }
  }

  .tel {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    padding: 12px 32px;
    width: 389px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;

    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
  }

  &.fixed {
    position: fixed;
    background-color: #112B64FF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
}

.navbarLang {
  gap: 10px;

  .navbarLangItem {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    max-width: 100%;
    padding: 6px 16px;
    background: #ffffff;

    .logo {
      width: fit-content;
      height: 50px;
    }

    .navbarLeft {
      display: none;
    }

    .tel {
      display: none;
      padding: 8px 12px;
      width: fit-content;
      height: auto;
      column-gap: 8px;
      font-size: 16px;
      line-height: 20px;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &.fixed {
      background-color: #fff;
    }
  }
}
